# Backend e análise
selenium
scipy
setuptools
wheel

# Telegram Bots
aiogram==3.4.1
asyncpg==0.29.0

# Agente IA (Gemini)
pydantic>=1.10.17
langchain
langchain-google-genai
pytz

# Previsão do Tempo
openmeteo_requests
requests_cache
retry_requests
pandas
